.side-menu-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;

  .side-title{
    display: flex;
    justify-content: space-between;
    padding : 0.5rem;
    font-size: 1.5rem;
    .title-text{

    }
    .show-button{

    }
    transition: background-color;
    transition-duration: 0.2s;

    &:hover{
      background-color: #333333;
    }
  }
  .sub-menus{
    background-color: #444444;
    padding: 0.5rem;
    margin-top: 1rem;
    justify-items: center;
  }
  hr{
    margin-top: 1rem;
    width: 95%;
  }
}