$sidebarWidth : 300px;

.main-page-container{
  display: flex;
  flex-direction: row;
  padding : 3rem;
  height : 100vh;
  background: black;
  color: #eeeeee;
  align-items: center;

  .side-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: $sidebarWidth;
    height : 500px; // 추후 지우기 - custom component 확인용
    overflow-y: auto;
    background: gray;
  }
  .source-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width : calc(100% - #{$sidebarWidth});

    .text-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      animation: fadeIn 1s ease-in-out;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}