$sidebarWidth : 300px;

.main-page-container{
  display: flex;
  flex-direction: row;
  padding : 3rem;
  height : 100vh;
  background: black;
  color: #eeeeee;
  align-items: start;
  width: 100%;

  .source-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //width : calc(100% - #{$sidebarWidth});
    width: 100%;
    .text-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      animation: fadeIn 1s ease-in-out;

      .react-icon{
        animation: App-logo-spin infinite 20s;
      }

      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}